<!DOCTYPE html>
<html>
  <head>
    <title>CumpleaOs</title>
    <%= csrf_meta_tags %>
	<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src='lib/jquery.min.js'></script>
	<script src='lib/moment.min.js'></script>
	<script src='fullcalendar/fullcalendar.js'></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
